a.social-link { margin-right: 1em; }

.whitespace { height: 3em; }

.main {
    font-size: 1.4em;
    text-align: center;
}

.main ul, h3 {
    text-align: left !important;
}

.section { 
    min-height: 60vh;
    /* padding-bottom: 1em;*/
    /* padding-top: 1em;  */
}   

ul li p.description, ul li p.repository { 
    padding-bottom: 0.5em;
    font-size: 0.7em;
}

ul li .repository a {
    font-weight: bold;
    color: antiquewhite;
}

ul li .repository a:hover{
    font-weight: bold;
    text-decoration: underline;
    color: lightblue;
}

ul.projects {
    margin-left: 4em;
}

/* custom for bulma */

figure.image.is-300x300 { width: 12em; }

.is-centered { text-align: center; }

.is-vcentered {
    top: 40%;
    position: relative;
}

.bio, ul.fa-ul li { font-size: 1.6em; }

section#coding-skills {
    color: antiquewhite;
    background-color: #197cbe;
}

section#systems-knowledge {
    color: antiquewhite;
    background-color: brown;
}

section#interests {
    color: antiquewhite;
    background-color: #135d8e;
}

section#coding-skills h3, section#systems-knowledge h3, section#interests h3 {
    color: white !important;
    font-weight: bold;
}

footer.footer {
    background-color: #d3d3d3;
}

@media(max-width: 768px) {

    #coding-skills > div > div > div:nth-child(1) > div > svg { display: none; }
    #systems-knowledge > div > div > div:nth-child(1) > div > svg { display: none; }
    #interests > div > div > div:nth-child(1) > div > svg { display: none; }

    .bio, ul.fa-ul li { font-size: 1.1em; }

    figure#avatar {
        margin: 0 auto;
    }

    .is-vcentered {
        top: -8vh;
        position: relative;
    }

    ul.projects {
        margin-left: 2.5em;
    }

    .title {
        margin-top: 1.5em;
    }

}

@media(max-height: 550px) {
    .bio, ul.fa-ul li { font-size: 0.8em; }
}