a.social-link {
    margin-right: 1em;
}

.whitespace {
    height: 3em;
}

.main {
    font-size: 1.4em;
}

/* custom for bulma */

figure.image.is-300x300 {
    width: 12em;
}

.is-centered {
    text-align: center;
}

@media(max-width: 768px) {
    div#icons {
        display: none;
    }

    figure#avatar {
        margin: 0 auto;
    }
}