a.social-link { margin-right: 1em; }

.whitespace { height: 3em; }

.main {
    font-size: 1.4em;
    text-align: center;
}

.main ul, h3 {
    text-align: left !important;
}

.section { 
    min-height: 50vh;
}   

ul li p.description, ul li p.repository { 
    padding-bottom: 0.5em;
    font-size: 0.7em;
}

ul li .repository a {
    font-weight: bold;
    color: whitesmoke;
}

ul li .repository a:hover{
    font-weight: bold;
    text-decoration: underline;
}

ul.projects {
    margin-left: 4em;
}

/* custom for bulma */

figure.image.is-300x300 { width: 12em; }

.is-centered { text-align: center; }

.is-vcentered {
    top: 20%;
    position: relative;
}

.bio, ul.fa-ul li { font-size: 1.6em; }

ul.fa-ul li > span.fa-li { top: 0.2em; }

#avatar > img {
    border: 5px solid whitesmoke;
}

section#coding-skills {
    color: whitesmoke;
    background-color: #252525;
}

section#interests {
    color: whitesmoke;
    background-color: #1d1d1d;
}

section#coding-skills h3, section#systems-knowledge h3, section#interests h3 {
    color: whitesmoke !important;
    font-weight: bold;
}

section#contact {
    background-color: #161616;
}

section#contact h2 {
    color: whitesmoke !important;
}

footer.footer {
    background-color: #070707;
    color: whitesmoke;
}

@media(max-width: 768px) {

    #coding-skills > div > div > div:nth-child(1) > div > svg { display: none; }
    #systems-knowledge > div > div > div:nth-child(1) > div > svg { display: none; }
    #interests > div > div > div:nth-child(1) > div > svg { display: none; }

    .bio, ul.fa-ul li { font-size: 1.1em; }

    figure#avatar {
        margin: 0 auto;
    }

    .is-vcentered {
        top: -8vh;
        position: relative;
    }

    ul.projects {
        margin-left: 2.5em;
    }

    .title {
        margin-top: 1.5em;
    }

}

@media(max-height: 550px) {
    .bio, ul.fa-ul li { font-size: 0.8em; }
}