html {
  scroll-behavior: smooth;
}

:root {
    --border-color: #1d1d1d;
    --buton-color: #1d1d1d;
}

html[data-theme='light'] {
    --border-color: #1d1d1d;
    --buton-color: #1d1d1d;
}

html[data-theme='dark'] {
    --border-color: whitesmoke;
    --buton-color: whitesmoke;
}

.is-vcentered {
  top: 20vh;
  position: relative;
}

@media (max-width: 1280px) {
    .is-vcentered {
        top: 10vh;
        position: relative;
    }   
}

@media (max-width: 980px) {
    .is-vcentered {
        top: 5vh;
        position: relative;
    }   
}

.button {
    color: var(--buton-color) !important;
}

.screenshot {
    position: relative;
    border: 0.2rem dashed var(--border-color);
}